{% extends "header.html" %}
{% block header %}



    <hr>
    <h1>Follow Requests</h1>

    <table class="container">
        <tr>
            <th>Index</th>
            <th>Sender</th>
            <th>Status</th>
        </tr>

        {% for request in follow_requests %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{request.sender}}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="sender_username" value="{{ request.sender }}">
                    <button type="submit" name="accept" value="accept-{{ request.sender }}" class="btn btn-success m-2">Accept</button>
                    <button type="submit" name="reject" value="reject-{{ request.sender }}" class="btn btn-danger m-2">Reject</button>
                </form>
            </td>
       </tr>
        {% endfor %}
    </table>

    


{% endblock %}

