{% extends "header.html" %}
{% block header %}

    <hr>
    <h1>Followers</h1>

    <table class="container">
        <tr>
            <th>Index</th>
            <th>ORCID ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>

        {% for follower in followers %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{follower.user_id}}</td>
            <td>{{follower.name}}</td>
            <td>{{follower.surname}}</td>
       </tr>
        {% endfor %}
    </table>



{% endblock %}