{% extends "header.html" %}
{% block header %}

    <hr>
    <h1>Following</h1>

    <table class="container">
        <tr>
            <th>Index</th>
            <th>ORCID ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>

        {% for following in followings %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{following.user_id}}</td>
            <td>{{following.name}}</td>
            <td>{{following.surname}}</td>
       </tr>
        {% endfor %}
    </table>



{% endblock %}