{% extends "base.html" %}
{% block start %}

<div class="container mt-5">
    <a href="/search_paper/">
        Search Paper
      </a>
      |
      <a href="/search_user/">
        Search User
      </a>
      |
      <a href="/profile_page/">
        Profile
      </a>
      |
      <a href="/my_lists/">
        My Lists
      </a>
      |
      <a href="/follow_requests/">
        Follow Requests
      </a>

    <hr>
    <h1>Following Lists</h1>

    <table class="container">
        <tr>
            <th>Index</th>
            <th>List Name</th>
        </tr>

        {% for list in lists %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{list}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

