{% extends "header.html" %}
{% block header %}



    <hr>
    <h1>My Lists</h1>

    <table class="container">
        <tr>
            <th>Paper List ID</th>
            <th>Paper List Title</th>
            <th>Owner</th>
        </tr>

        {% for p_list in paper_lists %}
        <a href="{% url 'List Content' p_list.id %}">
            <tr>
                <td>{{p_list.id}}</td>
                <td>{{p_list.list_title}}</td>
                <td>{{p_list.owner}}</td>
            </tr>
        </a>
        {% endfor %}
    </table>

{% endblock %}

