{% extends "header.html" %}
{% block header %}



    <hr>
    <h1>My Lists</h1>

    <table class="container">
        <tr>
            <th>Index</th>
            <th>Paper Title</th>
            <th>Abstract</th>
            <th>Year</th>
        </tr>

        {% for paper in papers %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{paper.title}}</td>
            <td>{{paper.abstract}}</td>
            <td>{{paper.year}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

