{% extends "base.html" %}
{% block start %}

<div class="container mt-5">

  <a href="/search_paper/">
    Search Paper
  </a>
  |
  <a href="/profile_page/">
    Profile
  </a>
  |
  <a href="/my_lists/">
    My Lists
  </a>
  |
  <a href="/following_lists/">
    Following Lists
  </a>
  |
  <a href="/follow_requests/">
    Follow Requests
  </a>

  <hr>
  <h2>Search User</h2>
  <div class="mt-5">
      <div class="mx-auto col-6">
          <form>
            <div class="mb-3">
              <label for="search_user" class="form-label">Name Surname</label>
              <input name="search_user" value="" type="text">
            </div>
            <button type="search" class="btn btn-primary">Search</button>
          </form>
      </div>
  </div>

</div>

{% endblock %}