{% extends "base.html" %}
{% block base %}
<div class="container mt-5">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/profile_page/">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/search_paper/">Search Paper</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/search_user/">Search User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/my_lists/"> My Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/following_lists/">Following Lists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/follow_requests/">Follow Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/following/">Following</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/followers/">Followers</a>
    </li>
    {% if logged_in == 0 %}
    <li class="nav-item">
      <a class="nav-link " href="/sign_in/">Sign In</a>
    </li>
    {% endif %}
    {% if logged_in == 0 %}
    <li class="nav-item">
      <a class="nav-link " href="/sign_up/">Sign Up</a>
    </li>
    {% endif %}
    {% if logged_in == 1 %}
    <li class="nav-item">
      <a class="nav-link " href="/sign_out/">Sign Out</a>
    </li>
    {% endif %}

  </ul>

    {% block header %}
    {% endblock %}

</div>

{% endblock %}
