{% extends "base.html" %}
{% block base %}
<div class="container mt-5">
    <a href="/search_paper/">
        Search Paper
      </a>
      |
      <a href="/search_user/">
        Search User
      </a>
      |
      <a href="/my_lists/">
        My Lists
      </a>
      |
      <a href="/following_lists/">
        Following Lists
      </a>
      |
      <a href="/followers/">
        Followers
      </a>
      |
      <a href="/following/">
        Following
      </a>
      |
      <a href="/follow_requests/">
        Follow Requests
      </a>
      |
      <a href="/profile_page/">
        Profile
      </a>
        {% if logged_in == 0 %}
        |
        <a href="/sign_in/">
        Log In
        </a>
        {% endif %}
        {% if logged_in == 0 %}
        |
        <a href="/sign_up/">
        Sign Up
        </a>
        {% endif %}
        {% if logged_in == 1 %}
        |
        <a href="/log_out/">
        Log out
        </a>
        {% endif %}
    {% block header %}
    {% endblock %}

</div>

{% endblock %}
