name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  serp_api_key: ${{ secrets.SERP_API_KEY }}


jobs:
  build:

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./practice_app
    strategy:
      max-parallel: 4
      matrix:
        python-version: [ 3.10.11 ]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python manage.py test
